.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
:host {
  display: block;
  min-height: 100vh;
  position: relative;
  background-image: url("/assets/pokemonBG.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

:host::before {
  content: "";
  position: absolute; // Cambiado de fixed a absolute
  inset: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8); // O usa rgba(0,0,0,0.4) para oscurecer
  pointer-events: none;
}
