.pokemon-image {
  background-image: url(/assets/pokemonfield.avif);
  background-size: cover;
  border-radius: 0.375rem 0 0 0.375rem;
}

.pokemon-detail-container {
  height: 100vh;
}

.card {
  margin-top: 2rem;
}

.box-shadow {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 767px) {
  .pokemon-image {
    border-radius: 0.375rem 0.375rem 0 0;
  }
  .pokemon-detail-container {
    height: 100vh;
  }
}

//colores personalizados por tipos
.badge.bg-fire {
  background-color: #fd7d24;
  color: #fff;
}
.badge.bg-water {
  background-color: #4592c4;
  color: #fff;
}
.badge.bg-grass {
  background-color: #9bcc50;
  color: #fff;
}
.badge.bg-electric {
  background-color: #eed535;
  color: #333;
}
.badge.bg-psychic {
  background-color: #f366b9;
  color: #fff;
}
.badge.bg-ice {
  background-color: #51c4e7;
  color: #333;
}
.badge.bg-dragon {
  background-color: #53a4cf;
  color: #fff;
}
.badge.bg-dark {
  background-color: #707070;
  color: #fff;
}
.badge.bg-fairy {
  background-color: #fdb9e9;
  color: #333;
}
.badge.bg-normal {
  background-color: #a4acaf;
  color: #fff;
}
.badge.bg-fighting {
  background-color: #d56723;
  color: #fff;
}
.badge.bg-flying {
  background-color: #3dc7ef;
  color: #333;
}
.badge.bg-poison {
  background-color: #b97fc9;
  color: #fff;
}
.badge.bg-ground {
  background-color: #df9e2f;
  color: #fff;
}
.badge.bg-rock {
  background-color: #a38c21;
  color: #fff;
}
.badge.bg-bug {
  background-color: #729f3f;
  color: #fff;
}
.badge.bg-ghost {
  background-color: #7b62a3;
  color: #fff;
}
.badge.bg-steel {
  background-color: #9eb7b8;
  color: #333;
}
