<!--* FOOTER -->

<div class="footer">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center border-top bg-light"
  >
    <p class="text col-md-4 mb-0 text-body-secondary">© 2025 crixdev, Inc</p>
    <a
      class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      aria-label="Bootstrap"
    >
      <div>
        <!-- <img
          class="crixdev-logo"
          src="/assets/crixdev.png"
          alt="crixdev logo"
        /> -->
      </div>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a
          routerLink="/home"
          href="#"
          class="text nav-link text-body-secondary"
        >
          &#64;crixdev0</a
        >
      </li>
    </ul>
  </footer>
</div>
